*/target/
target/
*/cache/
*/.cache/
.cache/
*/.test_cache/
.test_cache/
datasets/
dog/
drosophilia/
mus/
main/datasets/
datasets/
main/.artifacts/
main/xtask/.artifacts/
*/.artifacts/
.artifacts/
*/plots/
plots/
*/results/
results/
*/massif_scatter/
massif_scatter/
main/derive_macros/target/
derive_macros/target/
/exact_values_backup/
exact_values_backup/
/thesis_books
/thesis_example
/thesis_papers
/thesis_template
/test
criterion_backup*
/main/criterion-benches/target/*
*/criterion-benches/target/
/proteic_dbgs
/ggcat
/main/criterion-benches/target/
/books
/bruijnx
*.txt
*.lz4
*.py
*.fasta
*.pdf
*.lock
*.ics
*.tar
*.gz
*.zip
papers/

