*/target/
*/cache/
*/.cache/
*/.test_cache/
datasets/
/exact_values_backup
/thesis_template
/test
criterion_backup*
/main/criterion-benches/target/*
*/criterion-benches/target/
/proteic_dbgs
/ggcat
/main/criterion-benches/target/
/books
/bruijnx
*.txt
*.lz4
*.py
*.fasta
*.pdf
*.lock
*.ics
*.tar
*.gz
*.zip
papers/

