*/target/
*/cache/
*/.cache/
*/.test_cache/
datasets/
dog/
drosophilia/
mus/
main/datasets/
*/.artifacts/
*/plots/
*/results/
main/.artifacts/
main/xtask/.artifacts/
main/derive_macros/target/
/exact_values_backup
/thesis_books
/thesis_example
/thesis_papers
/thesis_template
/test
criterion_backup*
/main/criterion-benches/target/*
*/criterion-benches/target/
/proteic_dbgs
/ggcat
/main/criterion-benches/target/
/books
/bruijnx
*.txt
*.lz4
*.py
*.fasta
*.pdf
*.lock
*.ics
*.tar
*.gz
*.zip
papers/

